<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/public/styles/base.css">
  </head>
  <body>
    <header><h1>list of saved books</h1>
    <div><a href="/search"> Search</a></div>

    </header>
 
  <main>

    
    
    <%  data.forEach((val)=>{ %>
       <div> <ul>
       <li> <%= val.title %> </li>
       <li> <%= val.authors %> </li>
       <li> <%= val.isbn %> </li>
       <li><img src="<%= val.url %>"> </li>
       <li> <%= val.description %> </li>
    </ul></div>
   <% })    %>



    </main>

</h1>
  </body>
</html