<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/public/styles/base.css">
  </head>
  <body>
    <header><h1>list of saved books</h1>
    <div><a href="/search"> Search</a></div>

    </header>
 
  <main>

    
    
    <%  data.forEach((val)=>{ %>
       <div> <ul>
       <li> <%= val.title %> </li>
       <li> <%= val.authors %> </li>
       <li> <%= val.isbn %> </li>
       <li><img src="<%= val.url %>"> </li>
       <li> <%= val.description %> </li>
       <a href="/books/<%= val.id%>">View Details</a>
    </ul></div>
    <div>
      <form action="/details" method="POST">
        <button>SELECT THIS BOOK</button>
                    <input type="hidden" name="title" value=<%= val.title %>>
                    <input type="hidden" name="authors" value=<%= val.authors %>>
                    <input type="hidden" name="isbn" value=<%= val.isbn %>>
                    <input type="hidden" name="imgURL" value=<%= val.url %>>
                    <input type="hidden" name="description" value=<%= val.description %>>
      </form>
    </div>
   <% })    %>



    </main>

</h1>
  </body>
</html